.contain{
  flex: 1;
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%; 
}
.card {
  width: 130px;
  height: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  background-color: fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  white-space: nowrap;
  margin-top: 10px;
  margin-bottom:10px; 
}
